## Observations and Insights

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
combined_df = pd.merge(mouse_metadata, study_results, on='Mouse ID')
# Display the data table for preview
combined_df.set_index('Mouse ID')

,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
Mouse ID,,,,,,,
k403,Ramicane,Male,21,16,0,45.000000,0
k403,Ramicane,Male,21,16,5,38.825898,0
k403,Ramicane,Male,21,16,10,35.014271,1
k403,Ramicane,Male,21,16,15,34.223992,1
k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...
z969,Naftisol,Male,9,30,25,63.145652,2
z969,Naftisol,Male,9,30,30,65.841013,3
z969,Naftisol,Male,9,30,35,69.176246,4
z969,Naftisol,Male,9,30,40,70.314904,4
z969,Naftisol,Male,9,30,45,73.867845,4

In [2]:
# Checking the number of mice.
combined_df["Mouse ID"].nunique()

249

In [3]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
# Uesed groupby to count the number of tests at a timepoint and then sorted
# by value to find which mouse was not 1.
test =combined_df.groupby(["Mouse ID", "Timepoint"])["Timepoint"].count()
test.sort_values(ascending=False)

Mouse ID  Timepoint
g989      20           2
          15           2
          10           2
          5            2
          0            2
                      ..
i334      20           1
          15           1
          10           1
          5            1
z969      45           1
Name: Timepoint, Length: 1888, dtype: int64

In [4]:
# Optional: Get all the data for the duplicate mouse ID. 
# Collects and save duplicate mouse data to dub_df dataframe
dub_df = combined_df.set_index('Mouse ID')
dub_df = dub_df.loc['g989']
dub_df.head(1)

,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
Mouse ID,,,,,,,
g989,Propriva,Female,21,26,0,45.0,0

In [5]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
clean_df = combined_df.set_index('Mouse ID')
clean_df = clean_df.drop('g989')
clean_df = clean_df.reset_index()
clean_df.head(2)

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0

In [6]:
# Checking the number of mice in the clean DataFrame.
clean_df["Mouse ID"].nunique()

248

## Summary Statistics

In [29]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.
new_mean = clean_df.groupby("Drug Regimen")['Tumor Volume (mm3)'].mean()
#new_chart["Mean"] = combined_df['Tumor Volume (mm3)'].mean()
new_median = clean_df.groupby("Drug Regimen")['Tumor Volume (mm3)'].median()
new_var = clean_df.groupby("Drug Regimen")['Tumor Volume (mm3)'].var()
new_std = clean_df.groupby("Drug Regimen")['Tumor Volume (mm3)'].std()
new_sem = clean_df.groupby("Drug Regimen")['Tumor Volume (mm3)'].sem()

new_chart['Median'] = clean_df['Tumor Volume (mm3)'].median()
new_chart['Variance'] = clean_df['Tumor Volume (mm3)'].var()
new_chart['Standard Deviation'] = clean_df['Tumor Volume (mm3)'].std()
new_chart['SEM'] = clean_df['Tumor Volume (mm3)'].sem()
new_chart = new_chart.rename(columns={'Tumor Volume (mm3)': 'Mean'})
new_chart = new_chart.set_index('Drug Regimen')

new_chart

                   Mean     Median   Variance  Standard Deviation       SEM
Drug Regimen
Capomulin     40.675741  48.933454  79.462907            8.914197  0.205591
Ceftamin      52.591172  48.933454  79.462907            8.914197  0.205591
Infubinol     52.884795  48.933454  79.462907            8.914197  0.205591
Ketapril      55.235638  48.933454  79.462907            8.914197  0.205591
Naftisol      54.331565  48.933454  79.462907            8.914197  0.205591
Placebo       54.033581  48.933454  79.462907            8.914197  0.205591
Propriva      52.320930  48.933454  79.462907            8.914197  0.205591
Ramicane      40.216745  48.933454  79.462907            8.914197  0.205591
Stelasyn      54.233149  48.933454  79.462907            8.914197  0.205591
Zoniferol     53.236507  48.933454  79.462907            8.914197  0.205591

In [19]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line
clean_df.groupby(["Drug Regimen"])["Tumor Volume (mm3)"].agg(Mean='mean',
                                                             Median='median',
                                                             Variance='var',
                                                             Standard='std',
                                                             Sem='sem')

                   Mean     Median   Variance  Standard       Sem
Drug Regimen
Capomulin     40.675741  41.557809  24.947764  4.994774  0.329346
Ceftamin      52.591172  51.776157  39.290177  6.268188  0.469821
Infubinol     52.884795  51.820584  43.128684  6.567243  0.492236
Ketapril      55.235638  53.698743  68.553577  8.279709  0.603860
Naftisol      54.331565  52.509285  66.173479  8.134708  0.596466
Placebo       54.033581  52.288934  61.168083  7.821003  0.581331
Propriva      52.320930  50.446266  43.852013  6.622085  0.544332
Ramicane      40.216745  40.673236  23.486704  4.846308  0.320955
Stelasyn      54.233149  52.431737  59.450562  7.710419  0.573111
Zoniferol     53.236507  51.818479  48.533355  6.966589  0.516398

## Bar and Pie Charts

In [25]:
# Generate a bar plot showing the total number of timepoints for all mice tested for each drug regimen using Pandas.
clean_df.plot.bar(x='Mouse ID', y=clean_df['Timepoint'].count())

IndexError: index 1880 is out of bounds for axis 0 with size 8

In [10]:
# Generate a bar plot showing the total number of timepoints for all mice tested for each drug regimen using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using Pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen